@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

body {
  background: linear-gradient(to right, #3494e6, #ec6ead);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh
}

#root{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100vh;
  height: 75vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: transparent; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #9D3C72; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a0b57; 
}